.box_sp {
    display: none;
}

.box_pc {
    display: block;
}

/* responsive */
@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1150px) {}

@media screen and (min-width: 1025px) {
    .btn_primary a:hover::before {
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .btn_primary a:hover span {
        transform: translateX(2.5rem) translateZ(0);
    }
    .btn_primary a:hover::after {
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
    }
}

@media screen and (max-width: 1024px) {

   
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {

    #wrapper,
    #header,
    #main,
    #footer,
    .pages .pages_inner {
        width: 100% !important;
        min-width: inherit !important;
    }

    .box_sp {
        display: block;
    }

    .box_pc {
        display: none;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 490px) {}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 320px) {}
